body {
    background-color: #FEFAEF;
}

.container {
    background-color: #FEFAEF;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionFooter {
    border-top: 1px solid rgba(0, 0, 0, 0.51);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quizCard {
    width: 30rem;
}

.quizAnswer:hover {
    cursor: pointer;
    background-color: #FEFAEF;
}

.bg-success, .bg-danger {
    color: white;
}

.endbody {
    padding-right: 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.endImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.color-red{
    color: red;
}